import{{#isTypescript}} * as{{/isTypescript}} React from 'react';
import './{{snakeCase name}}.{{styleSheetExtension}}';

{{#isTypescript}}
interface {{pascalCase name}}Props {

}

{{/isTypescript}}
const {{pascalCase name}}{{#isTypescript}}: React.FunctionComponent<{{pascalCase name}}Props>{{/isTypescript}} = () => {
  // State

  // Effects

  return (
    <div className="{{snakeCase name}}">
      New {{pascalCase name}} component.
    </div>
  );
};

export default {{pascalCase name}};{{#isTypescript}}
export { {{pascalCase name}}Props };
{{/isTypescript}}

