import{{#isTypescript}} * as{{/isTypescript}} React, { Component } from 'react';
import './{{snakeCase name}}.{{styleSheetExtension}}';

{{#isTypescript}}
export interface {{pascalCase name}}Props {

}

export interface {{pascalCase name}}State {

}

{{/isTypescript}}
export default class {{pascalCase name}} extends Component{{#isTypescript}}<{{pascalCase name}}Props, {{pascalCase name}}State>{{/isTypescript}} {
  constructor(props{{#isTypescript}}: {{pascalCase name}}Props{{/isTypescript}}) {
    super(props);
  }

  render() {
    return (
      <div className="{{snakeCase name}}">
        New {{pascalCase name}} component.
      </div>
    );
  }
}

