import * as React from 'react';
import './{{snakeCase name}}.css';

interface i{{pascalCase name}}Props {

};

const {{pascalCase name}}: React.FunctionComponent<i{{pascalCase name}}Props> = () => {
  // State

  // Effects

  return (
    <div className="{{snakeCase name}}">
      New {{pascalCase name}} component.
    </div>
  );
};

export default {{pascalCase name}};
export { i{{pascalCase name}}Props };

