import React from 'react';
import './{{snakeCase name}}.css';

const {{pascalCase name}} = () => {
  // State

  // Effects

  return (
    <div className="{{snakeCase name}}">
      New {{pascalCase name}} component.
    </div>
  );
};

export default {{pascalCase name}};

