import{{#isTypescript}} * as{{/isTypescript}} React from 'react';
import './{{snakeCase name}}.css';

const {{pascalCase name}}{{#isTypescript}}: React.FunctionComponent<i{{pascalCase name}}Props>{{/isTypescript}} = () => {
  // State

  // Effects

  return (
    <div className="{{snakeCase name}}">
      New {{pascalCase name}} component.
    </div>
  );
};

export default {{pascalCase name}};
{{#isTypescript}}
export { i{{pascalCase name}}Props };
{{/isTypescript}}

